<%- include('header'); %>

<div class="container" >
    <h1 class="text-center text-secondary" style="padding-top: 30vh;">404</h1>
    <h1 class="text-center">PAGE NOT FOUND</h1>
</div>

<%- include('footer'); %>