<%- include('header'); %>
<%- include('navbar'); %>

<% if(message) {%>
    <div class="container bg-primary p-1">
        <p class="text-light text-center"><%- message %></p>
    </div>
<% } %>


<div class="container px-md-5">
    <div class="container px-md-5">
        <form action="/add" method="post">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input class="form-control" type="text" name="firstname" id="firstname" required>
            </div>
    
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input class="form-control" type="text" name="lastname" id="lastname" required>
            </div>
    
            <div class="form-group">
                <label for="address">Address</label>
                <input class="form-control" type="text" name="address" id="address" required>
            </div>
    
            <div class="form-group">
                <label for="number">Phone Number</label>
                <input class="form-control" type="text" name="number" id="number" required>
            </div>
    
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email" required>
            </div>
    
            <div class="form-group">
                <label for="birthdate">Birth Date</label>
                <input class="form-control" type="date" name="birthdate" id="birthdate" required>
            </div>
    
            <div class="form-group">
                <label for="birthplace">Birth Place</label>
                <input class="form-control" type="text" name="birthplace" id="birthplace" required>
            </div>
    
    
            <div class="form-group pt-3">
                <button class="btn btn-success form-control" type="submit">Add Information</button>
            </div>
        </form>
    </div>
</div>


<%- include('footer'); %>